<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close">&times;</button>
        <h3 class="modal-title" id="myModalLabel">About</h3>
      </div>
      <div class="modal-body">
      <p>	
      	This is a small demo site showing how to implement Backbone.js in CoffeScript. 
      </p>
      <p>
      	The following technologies are used: 
      </p>
      <p>
	      <ul>
		      <li>jquery 1.9.0</li>
		      <li>backbone 1.0.0</li>
		      <li>bootstrap 3.0.1</li>
		      <li>animate 1.0.1</li>
		   </ul>
	   </p>
      </div>
      <div class="modal-footer">
       Filip Stenbeck 2013
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>